aioboto3==13.4.0
aiobotocore==2.18.0
aiofiles==25.1.0
aiohttp==3.13.5
aioitertools==0.13.0
annotated-types==0.7.0
argon2-cffi==23.1.0
argon2-cffi-bindings==25.1.0
aws_lambda_powertools[all]==3.29.0
boto3==1.36.1
botocore==1.36.1
cffi==2.0.0
cryptography==42.0.8
jmespath==1.1.0
joserfc==1.5.0
pillow==10.4.0
propcache==0.5.2
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.9
python-ulid==2.7.0
s3transfer==0.11.3
six==1.17.0
